extends layout

block otherjs
  
block othercss
  style
    body { padding-top: 60px; }

block content
  div#voronoi_container.container
    canvas#voronoi_canvas(width="940",height="529")

  script(src="/javascripts/voronoi.js")
  script(src="/javascripts/demo.js")


