!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bs/bootstrap.css')
    block othercss
    block otherjs

  body
    block topbar
    block content
    block foot
      footer.footer
        .container
          p &copy; Tianchen Shao, 2012